### üì¶ Import bibliotek

In [629]:
import pandas as pd
import os
import numpy as np

### üìÇ Wyszukiwanie plik√≥w w katalogu

In [630]:
files = os.listdir("./data")
print("Dostƒôpne pliki:", files)

Dostƒôpne pliki: ['sales_ads_test.csv', 'sales_ads_train.csv', 'sample_submission.csv', 'synthetic_training_data_mostlyai_pl.csv', 'synthetic_training_data_sdv_pl.csv']

### üì• Wczytywanie pliku ze zbiorem treningowym

In [ ]:
train_file = [f for f in files if 'train' in f][0]
train_df = pd.read_csv(f"./data/{train_file}")

### üëÄ PodglƒÖd danych ‚Äì pierwsze wiersze zbioru treningowego
- Wy≈õwietlenie pierwszych piƒôciu wierszy zbioru train_df umo≈ºliwia szybkie sprawdzenie efekt√≥w dotychczasowych operacji przetwarzania danych. Pozwala to zweryfikowaƒá, czy struktura danych, format kolumn oraz zawarto≈õƒá sƒÖ zgodne z oczekiwaniami przed dalszym modelowaniem.

In [632]:
train_df.head()

,ID,Cena,Waluta,Stan,Marka_pojazdu,Model_pojazdu,Wersja_pojazdu,Generacja_pojazdu,Rok_produkcji,Przebieg_km,...,Skrzynia_biegow,Typ_nadwozia,Liczba_drzwi,Kolor,Kraj_pochodzenia,Pierwszy_wlasciciel,Data_pierwszej_rejestracji,Data_publikacji_oferty,Lokalizacja_oferty,Wyposazenie
0,1,13900,PLN,Used,Renault,Grand Espace,Gr 2.0T 16V Expression,NaN,2005.0,213000.0,...,Manual,minivan,5.0,blue,NaN,NaN,NaN,28/04/2021,"S≈ÅONECZNA 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie...","['ABS', 'Electric front windows', 'Drivers air..."
1,2,25900,PLN,Used,Renault,Megane,1.6 16V 110,III (2008-2016),2010.0,117089.0,...,Manual,station_wagon,5.0,silver,NaN,NaN,16/06/2010,04/05/2021,"ul. Wiosenna 8 - 41-407 Imielin, Centrum (Polska)","['ABS', 'Electric front windows', 'Drivers air..."
2,3,35900,PLN,Used,Opel,Zafira,Tourer 1.6 CDTI ecoFLEX Start/Stop,C (2011-2019),2015.0,115600.0,...,Manual,minivan,5.0,white,Denmark,NaN,NaN,03/05/2021,"Sian√≥w, koszali≈Ñski, Zachodniopomorskie","['ABS', 'Electric front windows', 'Passengers ..."
3,4,5999,PLN,Used,Ford,Focus,1.6 TDCi FX Silver / Silver X,Mk2 (2004-2011),2007.0,218000.0,...,Manual,compact,5.0,blue,NaN,NaN,27/11/2007,02/05/2021,"Gda≈Ñsk, Pomorskie, Przymorze Wielkie","['ABS', 'Electric front windows', 'Drivers air..."
4,5,44800,PLN,Used,Toyota,Avensis,1.8,III (2009-),2013.0,NaN,...,Manual,NaN,4.0,other,Poland,Yes,20/05/2013,02/05/2021,"≈öwidnik, ≈õwidnicki, Lubelskie","['ABS', 'Electric front windows', 'Drivers air..."

### üßπ Usuniƒôcie zbƒôdnych kolumn ze zbioru treningowego
- Ze zbioru danych usuniƒôto kolumny zawierajƒÖce dane techniczne, identyfikatory oraz informacje datowe, kt√≥re nie sƒÖ bezpo≈õrednio u≈ºyteczne w procesie predykcji lub zawierajƒÖ zbyt du≈ºo brak√≥w. Upraszcza to strukturƒô danych, eliminuje szum informacyjny i koncentruje model na cechach istotnych dla przewidywania ceny pojazdu.

In [633]:
train_df.drop(columns=['ID','Data_pierwszej_rejestracji','Emisja_CO2','Wersja_pojazdu','Generacja_pojazdu','Kraj_pochodzenia','Data_publikacji_oferty'], inplace=True)

In [634]:
train_df.head()

,Cena,Waluta,Stan,Marka_pojazdu,Model_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,Pojemnosc_cm3,Rodzaj_paliwa,Naped,Skrzynia_biegow,Typ_nadwozia,Liczba_drzwi,Kolor,Pierwszy_wlasciciel,Lokalizacja_oferty,Wyposazenie
0,13900,PLN,Used,Renault,Grand Espace,2005.0,213000.0,170.0,1998.0,Gasoline,Front wheels,Manual,minivan,5.0,blue,NaN,"S≈ÅONECZNA 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie...","['ABS', 'Electric front windows', 'Drivers air..."
1,25900,PLN,Used,Renault,Megane,2010.0,117089.0,110.0,1598.0,Gasoline,Front wheels,Manual,station_wagon,5.0,silver,NaN,"ul. Wiosenna 8 - 41-407 Imielin, Centrum (Polska)","['ABS', 'Electric front windows', 'Drivers air..."
2,35900,PLN,Used,Opel,Zafira,2015.0,115600.0,136.0,1598.0,NaN,NaN,Manual,minivan,5.0,white,NaN,"Sian√≥w, koszali≈Ñski, Zachodniopomorskie","['ABS', 'Electric front windows', 'Passengers ..."
3,5999,PLN,Used,Ford,Focus,2007.0,218000.0,90.0,1560.0,Diesel,Front wheels,Manual,compact,5.0,blue,NaN,"Gda≈Ñsk, Pomorskie, Przymorze Wielkie","['ABS', 'Electric front windows', 'Drivers air..."
4,44800,PLN,Used,Toyota,Avensis,2013.0,NaN,NaN,1798.0,Gasoline,Front wheels,Manual,NaN,4.0,other,Yes,"≈öwidnik, ≈õwidnicki, Lubelskie","['ABS', 'Electric front windows', 'Drivers air..."

### üí∂ Ujednolicenie waluty
- Wszystkie ceny wyra≈ºone w euro zosta≈Çy przeliczone na z≈Çot√≥wki wed≈Çug ustalonego kursu 1 EUR = 4.5654 PLN. Nastƒôpnie waluta zosta≈Ça oznaczona jako PLN, co zapewnia sp√≥jno≈õƒá jednostek w kolumnie Cena i eliminuje konieczno≈õƒá uwzglƒôdniania waluty jako zmiennej w dalszym modelowaniu.

In [635]:
kurs_eur_pln = 4.5654

train_df.loc[train_df['Waluta'] == 'EUR', 'Cena'] = (
    train_df.loc[train_df['Waluta'] == 'EUR', 'Cena'] * kurs_eur_pln
).astype(int)
train_df.loc[train_df['Waluta'] == 'EUR', 'Waluta'] = 'PLN'

### Usuniƒôcie kolumny Waluta
- nie jest potrzebna poniewa≈º przeliczono na jednƒÖ walute

In [636]:
train_df.drop(columns=['Waluta'], inplace=True)

In [637]:
train_df.head()

,Cena,Stan,Marka_pojazdu,Model_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,Pojemnosc_cm3,Rodzaj_paliwa,Naped,Skrzynia_biegow,Typ_nadwozia,Liczba_drzwi,Kolor,Pierwszy_wlasciciel,Lokalizacja_oferty,Wyposazenie
0,13900,Used,Renault,Grand Espace,2005.0,213000.0,170.0,1998.0,Gasoline,Front wheels,Manual,minivan,5.0,blue,NaN,"S≈ÅONECZNA 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie...","['ABS', 'Electric front windows', 'Drivers air..."
1,25900,Used,Renault,Megane,2010.0,117089.0,110.0,1598.0,Gasoline,Front wheels,Manual,station_wagon,5.0,silver,NaN,"ul. Wiosenna 8 - 41-407 Imielin, Centrum (Polska)","['ABS', 'Electric front windows', 'Drivers air..."
2,35900,Used,Opel,Zafira,2015.0,115600.0,136.0,1598.0,NaN,NaN,Manual,minivan,5.0,white,NaN,"Sian√≥w, koszali≈Ñski, Zachodniopomorskie","['ABS', 'Electric front windows', 'Passengers ..."
3,5999,Used,Ford,Focus,2007.0,218000.0,90.0,1560.0,Diesel,Front wheels,Manual,compact,5.0,blue,NaN,"Gda≈Ñsk, Pomorskie, Przymorze Wielkie","['ABS', 'Electric front windows', 'Drivers air..."
4,44800,Used,Toyota,Avensis,2013.0,NaN,NaN,1798.0,Gasoline,Front wheels,Manual,NaN,4.0,other,Yes,"≈öwidnik, ≈õwidnicki, Lubelskie","['ABS', 'Electric front windows', 'Drivers air..."

### üë§ Kodowanie informacji o pierwszym w≈Ça≈õcicielu
- Kolumna Pierwszy_wlasciciel zosta≈Ça zakodowana binarnie: warto≈õƒá Yes zamieniono na 1, natomiast brakujƒÖce dane i inne warto≈õci oznaczono jako 0. Dziƒôki temu model mo≈ºe ≈Çatwo wykorzystaƒá tƒô informacjƒô jako cechƒô logicznƒÖ, bez konieczno≈õci przetwarzania danych tekstowych.

In [638]:
train_df['Pierwszy_wlasciciel'] = train_df['Pierwszy_wlasciciel'].map({'Yes': 1}).fillna(0).astype(int)

In [639]:
train_df.head()

,Cena,Stan,Marka_pojazdu,Model_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,Pojemnosc_cm3,Rodzaj_paliwa,Naped,Skrzynia_biegow,Typ_nadwozia,Liczba_drzwi,Kolor,Pierwszy_wlasciciel,Lokalizacja_oferty,Wyposazenie
0,13900,Used,Renault,Grand Espace,2005.0,213000.0,170.0,1998.0,Gasoline,Front wheels,Manual,minivan,5.0,blue,0,"S≈ÅONECZNA 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie...","['ABS', 'Electric front windows', 'Drivers air..."
1,25900,Used,Renault,Megane,2010.0,117089.0,110.0,1598.0,Gasoline,Front wheels,Manual,station_wagon,5.0,silver,0,"ul. Wiosenna 8 - 41-407 Imielin, Centrum (Polska)","['ABS', 'Electric front windows', 'Drivers air..."
2,35900,Used,Opel,Zafira,2015.0,115600.0,136.0,1598.0,NaN,NaN,Manual,minivan,5.0,white,0,"Sian√≥w, koszali≈Ñski, Zachodniopomorskie","['ABS', 'Electric front windows', 'Passengers ..."
3,5999,Used,Ford,Focus,2007.0,218000.0,90.0,1560.0,Diesel,Front wheels,Manual,compact,5.0,blue,0,"Gda≈Ñsk, Pomorskie, Przymorze Wielkie","['ABS', 'Electric front windows', 'Drivers air..."
4,44800,Used,Toyota,Avensis,2013.0,NaN,NaN,1798.0,Gasoline,Front wheels,Manual,NaN,4.0,other,1,"≈öwidnik, ≈õwidnicki, Lubelskie","['ABS', 'Electric front windows', 'Drivers air..."

### üîç Sprawdzenie brakujƒÖcych danych
- Wy≈õwietlono liczbƒô brakujƒÖcych warto≈õci (NaN) w ka≈ºdej kolumnie zbioru danych. Pozwala to szybko zidentyfikowaƒá, kt√≥re cechy wymagajƒÖ uzupe≈Çnienia, usuniƒôcia lub dalszej obr√≥bki przed treningiem modelu.

In [640]:
print(train_df.isnull().sum())

Cena                       0
Stan                    3322
Marka_pojazdu           3351
Model_pojazdu           3309
Rok_produkcji           3407
Przebieg_km             4003
Moc_KM                  3733
Pojemnosc_cm3           4686
Rodzaj_paliwa           3410
Naped                  13054
Skrzynia_biegow         3775
Typ_nadwozia            3359
Liczba_drzwi            4364
Kolor                   3463
Pierwszy_wlasciciel        0
Lokalizacja_oferty      3341
Wyposazenie             3253
dtype: int64

In [641]:
print(train_df["Naped"].unique())

['Front wheels' nan '4x4 (permanent)' '4x4 (attached automatically)'
 'Rear wheels' '4x4 (attached manually)']

### üöó Wyszukiwanie brakujƒÖcych danych w kolumnie Naped
- Wyodrƒôbniono wszystkie unikalne kombinacje Marka_pojazdu i Model_pojazdu, dla kt√≥rych brakuje informacji o rodzaju napƒôdu (Naped). Dziƒôki temu mo≈ºna ≈Çatwo zidentyfikowaƒá konkretne modele pojazd√≥w wymagajƒÖce uzupe≈Çnienia tej cechy.

In [642]:
missing_naped_df = train_df[train_df['Naped'].isna()]
print(missing_naped_df[['Marka_pojazdu', 'Model_pojazdu']].drop_duplicates())

       Marka_pojazdu Model_pojazdu
2               Opel        Zafira
6               Audi            A6
21             Mazda             6
28              Ford         Focus
43           Porsche       Cayenne
...              ...           ...
132534       Renault      Latitude
132626           NaN         Caddy
132796       Renault       Fluence
134061     Chevrolet       Venture
134855         ≈†koda           130

[1103 rows x 2 columns]

In [643]:
print(train_df['Naped'].isna().sum())

13054

### Uzupe≈Çnianie brakujƒÖcych danych w kolumnie Naped
- BrakujƒÖce warto≈õci w kolumnie Naped zosta≈Çy uzupe≈Çnione na podstawie najczƒô≈õciej wystƒôpujƒÖcej warto≈õci (moda) dla danej marki pojazdu (Marka_pojazdu). Pozwala to zachowaƒá sp√≥jno≈õƒá danych bez konieczno≈õci ich usuwania, a jednocze≈õnie wykorzystaƒá logiczne zale≈ºno≈õci miƒôdzy markƒÖ a typem napƒôdu.

In [644]:
train_df['Naped'] = train_df['Naped'].fillna(
    train_df.groupby('Marka_pojazdu')['Naped'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
)

In [645]:
print(train_df['Naped'].isna().sum())

335

In [646]:
print(train_df.isnull().sum())

Cena                      0
Stan                   3322
Marka_pojazdu          3351
Model_pojazdu          3309
Rok_produkcji          3407
Przebieg_km            4003
Moc_KM                 3733
Pojemnosc_cm3          4686
Rodzaj_paliwa          3410
Naped                   335
Skrzynia_biegow        3775
Typ_nadwozia           3359
Liczba_drzwi           4364
Kolor                  3463
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

In [647]:
model_to_brand = (
    train_df[train_df['Marka_pojazdu'].notna()]
    .drop_duplicates(subset=['Model_pojazdu', 'Marka_pojazdu'])
    .set_index('Model_pojazdu')['Marka_pojazdu']
    .to_dict()
)

### üîß Tworzenie mapowania modelu na markƒô
- Na podstawie unikalnych par Model_pojazdu i Marka_pojazdu utworzono s≈Çownik mapujƒÖcy ka≈ºdy model pojazdu na odpowiadajƒÖcƒÖ mu markƒô. S≈Çu≈ºy to do p√≥≈∫niejszego uzupe≈Çniania brakujƒÖcych warto≈õci w kolumnie Marka_pojazdu na podstawie znanej informacji o modelu

In [648]:
train_df['Marka_pojazdu'] = train_df.apply(
    lambda row: model_to_brand.get(row['Model_pojazdu'], row['Marka_pojazdu'])
    if pd.isna(row['Marka_pojazdu']) else row['Marka_pojazdu'],
    axis=1
)

In [649]:
print(train_df['Marka_pojazdu'].isna().sum())

4

### üöò Tworzenie mapowania typu nadwozia
- Na podstawie unikalnych kombinacji Marka_pojazdu i Model_pojazdu utworzono s≈Çownik mapujƒÖcy te pary na odpowiadajƒÖcy im Typ_nadwozia. S≈Çu≈ºy to do p√≥≈∫niejszego uzupe≈Çniania brakujƒÖcych warto≈õci w kolumnie Typ_nadwozia w spos√≥b logiczny i sp√≥jny z pozosta≈Çymi danymi.

In [650]:
nadwozie_lookup = (
    train_df[train_df['Typ_nadwozia'].notna()]
    .drop_duplicates(subset=['Marka_pojazdu', 'Model_pojazdu', 'Typ_nadwozia'])
    .set_index(['Marka_pojazdu', 'Model_pojazdu'])['Typ_nadwozia']
    .to_dict()
)

### üõ†Ô∏è Uzupe≈Çnianie brak√≥w w kolumnie Typ_nadwozia
- BrakujƒÖce warto≈õci w kolumnie Typ_nadwozia zosta≈Çy uzupe≈Çnione na podstawie wcze≈õniej utworzonego s≈Çownika, kt√≥ry mapuje pary (Marka_pojazdu, Model_pojazdu) na odpowiadajƒÖcy im typ nadwozia. Je≈õli dla danej kombinacji nie znaleziono dopasowania, pozostawiono oryginalnƒÖ warto≈õƒá. Dziƒôki temu zachowano sp√≥jno≈õƒá danych bez ich usuwania.

In [651]:
train_df['Typ_nadwozia'] = train_df.apply(
    lambda row: nadwozie_lookup.get((row['Marka_pojazdu'], row['Model_pojazdu']), row['Typ_nadwozia'])
    if pd.isna(row['Typ_nadwozia']) else row['Typ_nadwozia'],
    axis=1
)

In [652]:
print(train_df['Typ_nadwozia'].isna().sum())

4

### ‚õΩ Tworzenie mapowania rodzaju paliwa
- Na podstawie unikalnych kombinacji Marka_pojazdu i Pojemnosc_cm3 utworzono s≈Çownik mapujƒÖcy te pary na odpowiadajƒÖcy im Rodzaj_paliwa. Mapowanie to umo≈ºliwia p√≥≈∫niejsze uzupe≈Çnienie brakujƒÖcych warto≈õci paliwa w logiczny i oparty na danych spos√≥b.

In [653]:
paliwo_lookup = (
    train_df[train_df['Rodzaj_paliwa'].notna()]
    .drop_duplicates(subset=['Marka_pojazdu', 'Pojemnosc_cm3', 'Rodzaj_paliwa'])
    .set_index(['Marka_pojazdu', 'Pojemnosc_cm3'])['Rodzaj_paliwa']
    .to_dict()
)

### ‚õΩ Uzupe≈Çnianie brak√≥w w kolumnie Rodzaj_paliwa
- BrakujƒÖce warto≈õci w kolumnie Rodzaj_paliwa zosta≈Çy uzupe≈Çnione na podstawie s≈Çownika mapujƒÖcego kombinacje Marka_pojazdu i Pojemnosc_cm3 na odpowiedni typ paliwa. Je≈õli nie znaleziono dopasowania, pozostawiono oryginalnƒÖ warto≈õƒá. Dziƒôki temu dane stajƒÖ siƒô bardziej kompletne i sp√≥jne, co zwiƒôksza jako≈õƒá predykcji modelu.

In [654]:
train_df['Rodzaj_paliwa'] = train_df.apply(
    lambda row: paliwo_lookup.get((row['Marka_pojazdu'], row['Pojemnosc_cm3']), row['Rodzaj_paliwa'])
    if pd.isna(row['Rodzaj_paliwa']) else row['Rodzaj_paliwa'],
    axis=1
)

In [655]:
print(train_df['Rodzaj_paliwa'].isna().sum())

147

In [656]:
print(train_df.isnull().sum())

Cena                      0
Stan                   3322
Marka_pojazdu             4
Model_pojazdu          3309
Rok_produkcji          3407
Przebieg_km            4003
Moc_KM                 3733
Pojemnosc_cm3          4686
Rodzaj_paliwa           147
Naped                   335
Skrzynia_biegow        3775
Typ_nadwozia              4
Liczba_drzwi           4364
Kolor                  3463
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

### üöó Tworzenie mapowania modelu pojazdu
- Na podstawie unikalnych kombinacji Marka_pojazdu i Typ_nadwozia utworzono s≈Çownik mapujƒÖcy je na odpowiadajƒÖcy im Model_pojazdu. Mapowanie to mo≈ºe byƒá wykorzystane do uzupe≈Çnienia brakujƒÖcych modeli w spos√≥b zgodny z pozosta≈Çymi cechami pojazdu.

In [657]:
model_lookup = (
    train_df[train_df['Model_pojazdu'].notna()]
    .drop_duplicates(subset=['Marka_pojazdu', 'Typ_nadwozia', 'Model_pojazdu'])
    .set_index(['Marka_pojazdu', 'Typ_nadwozia'])['Model_pojazdu']
    .to_dict()
)

### üöò Uzupe≈Çnianie brak√≥w w kolumnie Model_pojazdu
- BrakujƒÖce warto≈õci w kolumnie Model_pojazdu zosta≈Çy uzupe≈Çnione na podstawie s≈Çownika mapujƒÖcego pary (Marka_pojazdu, Typ_nadwozia) na odpowiadajƒÖce im modele. Je≈ºeli dla danej kombinacji nie znaleziono dopasowania, pozostawiono oryginalnƒÖ warto≈õƒá. Zabieg ten zwiƒôksza kompletno≈õƒá danych i umo≈ºliwia modelowi lepsze rozr√≥≈ºnianie miƒôdzy pojazdami.

In [658]:
train_df['Model_pojazdu'] = train_df.apply(
    lambda row: model_lookup.get((row['Marka_pojazdu'], row['Typ_nadwozia']), row['Model_pojazdu'])
    if pd.isna(row['Model_pojazdu']) else row['Model_pojazdu'],
    axis=1
)

In [659]:
print(train_df['Model_pojazdu'].isna().sum())

27

In [660]:
print(train_df["Stan"].unique())

['Used' 'New' nan]

### ‚öôÔ∏è Tworzenie mapowania stanu pojazdu
- Na podstawie unikalnych kombinacji Marka_pojazdu i Rok_produkcji utworzono s≈Çownik mapujƒÖcy je na odpowiadajƒÖcy im Stan. Mapowanie to pozwala w logiczny spos√≥b uzupe≈Çniaƒá brakujƒÖce dane dotyczƒÖce stanu technicznego pojazdu na podstawie innych powiƒÖzanych informacji.

In [661]:
stan_lookup = (
    train_df[train_df['Stan'].notna()]
    .drop_duplicates(subset=['Marka_pojazdu', 'Rok_produkcji', 'Stan'])
    .set_index(['Marka_pojazdu', 'Rok_produkcji'])['Stan']
    .to_dict()
)

### üîß Uzupe≈Çnianie brak√≥w w kolumnie Stan
- BrakujƒÖce warto≈õci w kolumnie Stan zosta≈Çy uzupe≈Çnione na podstawie s≈Çownika mapujƒÖcego pary (Marka_pojazdu, Rok_produkcji) na odpowiadajƒÖcy im stan techniczny pojazdu. W przypadku braku dopasowania pozostawiono oryginalnƒÖ warto≈õƒá. Dziƒôki temu dane sƒÖ bardziej kompletne i lepiej odzwierciedlajƒÖ rzeczywiste cechy pojazd√≥w.

In [662]:
train_df['Stan'] = train_df.apply(
    lambda row: stan_lookup.get((row['Marka_pojazdu'], row['Rok_produkcji']), row['Stan'])
    if pd.isna(row['Stan']) else row['Stan'],
    axis=1
)

In [663]:
print(train_df['Stan'].isna().sum())

97

In [664]:
print(train_df.isnull().sum())

Cena                      0
Stan                     97
Marka_pojazdu             4
Model_pojazdu            27
Rok_produkcji          3407
Przebieg_km            4003
Moc_KM                 3733
Pojemnosc_cm3          4686
Rodzaj_paliwa           147
Naped                   335
Skrzynia_biegow        3775
Typ_nadwozia              4
Liczba_drzwi           4364
Kolor                  3463
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

### üìÖ Funkcja do uzupe≈Çniania brak√≥w w kolumnie Rok_produkcji
- Funkcja przypisz_rok s≈Çu≈ºy do uzupe≈Çniania brakujƒÖcych warto≈õci w kolumnie Rok_produkcji na podstawie podobnych rekord√≥w w zbiorze danych. Dla danego wiersza sprawdzane sƒÖ inne pojazdy o tym samym modelu, dla kt√≥rych znane sƒÖ zar√≥wno rok produkcji, jak i przebieg. Spo≈õr√≥d nich wybierany jest ten o najbardziej zbli≈ºonym przebiegu, a jego rok produkcji przypisywany jest do brakujƒÖcego pola. W przypadku braku podobnych rekord√≥w zwracana jest warto≈õƒá NaN.

In [665]:
def przypisz_rok(row, df):
    if pd.notna(row['Rok_produkcji']):
        return row['Rok_produkcji'] 


    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Rok_produkcji'].notna()) &
        (df['Przebieg_km'].notna())
    ]
    
    if podobne.empty:
        return np.nan  # nic nie znaleziono


    podobne['roznica'] = abs(podobne['Przebieg_km'] - row['Przebieg_km'])
    najblizszy = podobne.sort_values(by='roznica').iloc[0]

    return najblizszy['Rok_produkcji']

### üìÜ Uzupe≈Çnianie brak√≥w w kolumnie Rok_produkcji
- BrakujƒÖce warto≈õci w kolumnie Rok_produkcji zosta≈Çy uzupe≈Çnione za pomocƒÖ funkcji przypisz_rok, kt√≥ra na podstawie podobnych pojazd√≥w (o tym samym modelu i zbli≈ºonym przebiegu) przypisuje najbardziej prawdopodobny rok produkcji. Dziƒôki temu dane sƒÖ bardziej kompletne i realistyczne, co wp≈Çywa pozytywnie na jako≈õƒá predykcji modelu.

In [666]:
train_df['Rok_produkcji'] = train_df.apply(lambda row: przypisz_rok(row, train_df), axis=1)

In [667]:
print(train_df['Rok_produkcji'].isna().sum())

2

### üõ£Ô∏è Funkcja do uzupe≈Çniania brak√≥w w kolumnie Przebieg_km
- Funkcja przypisz_przebieg uzupe≈Çnia brakujƒÖce warto≈õci przebiegu (Przebieg_km) na podstawie mediany z podobnych pojazd√≥w. Jako podobne uznawane sƒÖ auta o tym samym modelu i roku produkcji, dla kt√≥rych znany jest przebieg. Je≈õli takie rekordy istniejƒÖ, funkcja zwraca medianƒô ich przebiegu. W przeciwnym przypadku pozostawia warto≈õƒá jako NaN. Pozwala to realistycznie oszacowaƒá brakujƒÖce dane i zwiƒôkszyƒá jako≈õƒá zbioru.

In [668]:
def przypisz_przebieg(row, df):
    if pd.notna(row['Przebieg_km']):
        return row['Przebieg_km']

    # Znajd≈∫ podobne auta z tym samym modelem i rokiem produkcji
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Rok_produkcji'] == row['Rok_produkcji']) &
        (df['Przebieg_km'].notna())
    ]

    if podobne.empty:
        return np.nan


    return podobne['Przebieg_km'].median()

### üöó Uzupe≈Çnianie brak√≥w w kolumnie Przebieg_km
- BrakujƒÖce warto≈õci przebiegu zosta≈Çy uzupe≈Çnione za pomocƒÖ funkcji przypisz_przebieg, kt√≥ra przypisuje medianƒô przebiegu spo≈õr√≥d pojazd√≥w o tym samym modelu i roku produkcji. Dziƒôki temu dane stajƒÖ siƒô bardziej kompletne, a estymacja opiera siƒô na rzeczywistych, zbli≈ºonych przypadkach.

In [669]:
train_df['Przebieg_km'] = train_df.apply(lambda row: przypisz_przebieg(row, train_df), axis=1)

In [670]:
print(train_df['Przebieg_km'].isna().sum())

71

In [671]:
print(train_df.isnull().sum())

Cena                      0
Stan                     97
Marka_pojazdu             4
Model_pojazdu            27
Rok_produkcji             2
Przebieg_km              71
Moc_KM                 3733
Pojemnosc_cm3          4686
Rodzaj_paliwa           147
Naped                   335
Skrzynia_biegow        3775
Typ_nadwozia              4
Liczba_drzwi           4364
Kolor                  3463
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

### üèéÔ∏è Funkcja do uzupe≈Çniania brak√≥w w kolumnie Moc_KM
- Funkcja przypisz_moc s≈Çu≈ºy do uzupe≈Çniania brakujƒÖcych warto≈õci mocy silnika (Moc_KM). Wyszukuje podobne pojazdy o tym samym modelu i pojemno≈õci silnika, a nastƒôpnie zwraca medianƒô ich mocy. Je≈õli brak jest odpowiednich danych, funkcja pozostawia warto≈õƒá jako NaN. Takie podej≈õcie pozwala oszacowaƒá brakujƒÖce dane w spos√≥b oparty na podobnych, rzeczywistych przypadkach.

In [672]:
def przypisz_moc(row, df):
    if pd.notna(row['Moc_KM']):
        return row['Moc_KM']

    # Znajd≈∫ podobne auta z tym samym modelem i pojemno≈õciƒÖ
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Pojemnosc_cm3'] == row['Pojemnosc_cm3']) &
        (df['Moc_KM'].notna())
    ]

    if podobne.empty:
        return np.nan


    return podobne['Moc_KM'].median()

### ‚öôÔ∏è Uzupe≈Çnianie brak√≥w w kolumnie Moc_KM
- BrakujƒÖce warto≈õci w kolumnie Moc_KM zosta≈Çy uzupe≈Çnione za pomocƒÖ funkcji przypisz_moc, kt√≥ra przypisuje medianƒô mocy silnika na podstawie pojazd√≥w o tym samym modelu i pojemno≈õci silnika. Dziƒôki temu dane techniczne stajƒÖ siƒô pe≈Çniejsze, co zwiƒôksza jako≈õƒá predykcji i umo≈ºliwia lepsze dopasowanie modelu.

In [673]:
train_df['Moc_KM'] = train_df.apply(lambda row: przypisz_moc(row, train_df), axis=1)

In [674]:
print(train_df['Moc_KM'].isna().sum())

437

### üß™ Funkcja do uzupe≈Çniania brak√≥w w kolumnie Pojemnosc_cm3
- Funkcja przypisz_pojemnosc uzupe≈Çnia brakujƒÖce warto≈õci pojemno≈õci silnika (Pojemnosc_cm3) na podstawie mediany z podobnych pojazd√≥w. Wyszukiwane sƒÖ auta o tym samym modelu i mocy silnika (Moc_KM), dla kt√≥rych znana jest pojemno≈õƒá. Je≈õli odpowiednie dane sƒÖ dostƒôpne, zwracana jest ich mediana; w przeciwnym razie pozostawiane jest NaN. Dziƒôki temu zachowana jest sp√≥jno≈õƒá technicznych parametr√≥w pojazdu.

In [675]:

def przypisz_pojemnosc(row, df):
    if pd.notna(row['Pojemnosc_cm3']):
        return row['Pojemnosc_cm3']

    # Znajd≈∫ podobne auta z tym samym modelem i mocƒÖ
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Moc_KM'] == row['Moc_KM']) &
        (df['Pojemnosc_cm3'].notna())
    ]

    if podobne.empty:
        return np.nan


    return podobne['Pojemnosc_cm3'].median()

### üß© Uzupe≈Çnianie brak√≥w w kolumnie Pojemnosc_cm3
- BrakujƒÖce warto≈õci w kolumnie Pojemnosc_cm3 zosta≈Çy uzupe≈Çnione za pomocƒÖ funkcji przypisz_pojemnosc, kt√≥ra przypisuje medianƒô pojemno≈õci silnika na podstawie pojazd√≥w o tym samym modelu i mocy (Moc_KM). Zabieg ten poprawia kompletno≈õƒá danych technicznych i zwiƒôksza ich sp√≥jno≈õƒá w zbiorze treningowym.

In [676]:
train_df['Pojemnosc_cm3'] = train_df.apply(lambda row: przypisz_pojemnosc(row, train_df), axis=1)

In [677]:
print(train_df['Pojemnosc_cm3'].isna().sum())

1157

### üö™ Funkcja do uzupe≈Çniania brak√≥w w kolumnie Liczba_drzwi
- Funkcja przypisz_drzwi uzupe≈Çnia brakujƒÖce warto≈õci liczby drzwi w poje≈∫dzie (Liczba_drzwi). W tym celu wyszukiwane sƒÖ pojazdy o tym samym typie nadwozia (Typ_nadwozia) i modelu (Model_pojazdu) z dostƒôpnƒÖ informacjƒÖ o liczbie drzwi. Je≈ºeli takie dane istniejƒÖ, przypisywana jest najczƒô≈õciej wystƒôpujƒÖca warto≈õƒá (moda). W przeciwnym przypadku pozostawiana jest warto≈õƒá NaN.

In [678]:
def przypisz_drzwi(row, df):
    if pd.notna(row['Liczba_drzwi']):
        return row['Liczba_drzwi']

    podobne = df[
        (df['Typ_nadwozia'] == row['Typ_nadwozia']) &
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Liczba_drzwi'].notna())
    ]

    if podobne.empty:
        return np.nan

    return podobne['Liczba_drzwi'].mode().iloc[0]

### üöò Uzupe≈Çnianie brak√≥w w kolumnie Liczba_drzwi
- BrakujƒÖce warto≈õci w kolumnie Liczba_drzwi zosta≈Çy uzupe≈Çnione za pomocƒÖ funkcji przypisz_drzwi, kt√≥ra przypisuje najczƒô≈õciej wystƒôpujƒÖcƒÖ liczbƒô drzwi (modƒô) na podstawie pojazd√≥w o tym samym modelu i typie nadwozia. Dziƒôki temu zachowana jest zgodno≈õƒá konstrukcyjna pojazd√≥w, a zbi√≥r danych staje siƒô bardziej kompletny.

In [679]:
train_df['Liczba_drzwi'] = train_df.apply(lambda row: przypisz_drzwi(row, train_df), axis=1)

In [680]:
print(train_df['Liczba_drzwi'].isna().sum())

22

In [681]:
print(train_df.isnull().sum())

Cena                      0
Stan                     97
Marka_pojazdu             4
Model_pojazdu            27
Rok_produkcji             2
Przebieg_km              71
Moc_KM                  437
Pojemnosc_cm3          1157
Rodzaj_paliwa           147
Naped                   335
Skrzynia_biegow        3775
Typ_nadwozia              4
Liczba_drzwi             22
Kolor                  3463
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

### üé® Tworzenie mapowania koloru pojazdu
- Na podstawie kombinacji Marka_pojazdu, Model_pojazdu i Rok_produkcji utworzono s≈Çownik mapujƒÖcy te cechy na najczƒô≈õciej wystƒôpujƒÖcy kolor (Kolor). Dziƒôki temu mo≈ºliwe jest p√≥≈∫niejsze uzupe≈Çnianie brakujƒÖcych danych o kolorze w spos√≥b logiczny i oparty na rzeczywistych obserwacjach.

In [682]:
kolor_lookup = (
    train_df[train_df['Kolor'].notna()]
    .groupby(['Marka_pojazdu', 'Model_pojazdu', 'Rok_produkcji'])['Kolor']
    .agg(lambda x: x.mode().iloc[0])
    .to_dict()
)

### üé® Uzupe≈Çnianie brak√≥w w kolumnie Kolor
- BrakujƒÖce warto≈õci w kolumnie Kolor zosta≈Çy uzupe≈Çnione na podstawie najczƒô≈õciej wystƒôpujƒÖcego koloru dla danego modelu pojazdu, marki i roku produkcji. Wykorzystano wcze≈õniej przygotowany s≈Çownik z warto≈õciƒÖ modowƒÖ. Dziƒôki temu dane sƒÖ bardziej kompletne i odzwierciedlajƒÖ najczƒôstsze konfiguracje pojazd√≥w.

In [683]:
train_df['Kolor'] = train_df.apply(
    lambda row: kolor_lookup.get((row['Marka_pojazdu'], row['Model_pojazdu'], row['Rok_produkcji']), row['Kolor'])
    if pd.isna(row['Kolor']) else row['Kolor'],
    axis=1
)

In [684]:
print(train_df['Kolor'].isna().sum())

84

### ‚öôÔ∏è Tworzenie mapowania typu skrzyni bieg√≥w
- Na podstawie kombinacji Marka_pojazdu, Model_pojazdu i Pojemnosc_cm3 utworzono s≈Çownik mapujƒÖcy te cechy na najczƒô≈õciej wystƒôpujƒÖcy typ skrzyni bieg√≥w (Skrzynia_biegow). Mapowanie to umo≈ºliwia p√≥≈∫niejsze logiczne i oparte na danych uzupe≈Çnienie brakujƒÖcych warto≈õci w tej kolumnie.

In [685]:
skrzynia_lookup = (
    train_df[train_df['Skrzynia_biegow'].notna()]
    .groupby(['Marka_pojazdu', 'Model_pojazdu', 'Pojemnosc_cm3'])['Skrzynia_biegow']
    .agg(lambda x: x.mode().iloc[0])
    .to_dict()
)

### ‚öôÔ∏è Uzupe≈Çnianie brak√≥w w kolumnie Skrzynia_biegow
- BrakujƒÖce warto≈õci w kolumnie Skrzynia_biegow zosta≈Çy uzupe≈Çnione na podstawie najczƒô≈õciej wystƒôpujƒÖcego typu skrzyni bieg√≥w dla danej kombinacji Marka_pojazdu, Model_pojazdu i Pojemnosc_cm3. Pozwala to na realistyczne odtworzenie brakujƒÖcych danych technicznych i zwiƒôksza sp√≥jno≈õƒá zbioru.

In [686]:
train_df['Skrzynia_biegow'] = train_df.apply(
    lambda row: skrzynia_lookup.get((row['Marka_pojazdu'], row['Model_pojazdu'], row['Pojemnosc_cm3']), row['Skrzynia_biegow'])
    if pd.isna(row['Skrzynia_biegow']) else row['Skrzynia_biegow'],
    axis=1
)

In [687]:
print(train_df['Skrzynia_biegow'].isna().sum())

320

In [688]:
print(train_df.isnull().sum())

Cena                      0
Stan                     97
Marka_pojazdu             4
Model_pojazdu            27
Rok_produkcji             2
Przebieg_km              71
Moc_KM                  437
Pojemnosc_cm3          1157
Rodzaj_paliwa           147
Naped                   335
Skrzynia_biegow         320
Typ_nadwozia              4
Liczba_drzwi             22
Kolor                    84
Pierwszy_wlasciciel       0
Lokalizacja_oferty     3341
Wyposazenie            3253
dtype: int64

### üß∞ Tworzenie mapowania wyposa≈ºenia pojazdu
- Na podstawie kombinacji Marka_pojazdu, Model_pojazdu, Rok_produkcji oraz Skrzynia_biegow utworzono s≈Çownik mapujƒÖcy te cechy na najczƒô≈õciej wystƒôpujƒÖce wyposa≈ºenie (Wyposazenie). Mapowanie to umo≈ºliwia p√≥≈∫niejsze logiczne uzupe≈Çnianie brakujƒÖcych warto≈õci, bazujƒÖc na najczƒô≈õciej spotykanych konfiguracjach danego pojazdu.

In [689]:
wyposazenie_lookup = (
    train_df[train_df['Wyposazenie'].notna()]
    .groupby(['Marka_pojazdu', 'Model_pojazdu', 'Rok_produkcji', 'Skrzynia_biegow'])['Wyposazenie']
    .agg(lambda x: x.mode().iloc[0]) 
    .to_dict()
)

### üß∞ Uzupe≈Çnianie brak√≥w w kolumnie Wyposazenie
- BrakujƒÖce warto≈õci w kolumnie Wyposazenie zosta≈Çy uzupe≈Çnione na podstawie najczƒô≈õciej wystƒôpujƒÖcej konfiguracji wyposa≈ºenia dla danego modelu pojazdu, marki, roku produkcji i typu skrzyni bieg√≥w. Uzupe≈Çnienie odbywa siƒô na podstawie wcze≈õniej utworzonego s≈Çownika, co zapewnia sp√≥jno≈õƒá danych oraz ich zgodno≈õƒá z typowymi zestawami wyposa≈ºenia w konkretnych wariantach pojazdu.

In [690]:
train_df['Wyposazenie'] = train_df.apply(
    lambda row: wyposazenie_lookup.get(
        (row['Marka_pojazdu'], row['Model_pojazdu'], row['Rok_produkcji'], row['Skrzynia_biegow']),
        row['Wyposazenie']
    ) if pd.isna(row['Wyposazenie']) else row['Wyposazenie'],
    axis=1
)

In [691]:
print(train_df['Wyposazenie'].isna().sum())

120

### üìã Przekszta≈Çcanie danych w kolumnie Wyposazenie do formatu listy
- Warto≈õci w kolumnie Wyposazenie zosta≈Çy przekszta≈Çcone do formatu listy. Je≈ºeli dana kom√≥rka zawiera NaN, zwracana jest pusta lista. Je≈õli ju≈º jest listƒÖ ‚Äì zostaje bez zmian. W przeciwnym wypadku funkcja pr√≥buje sparsowaƒá ciƒÖg znak√≥w jako listƒô przy u≈ºyciu ast.literal_eval(). Pozwala to na dalsze przetwarzanie danych wyposa≈ºenia w spos√≥b uporzƒÖdkowany, np. poprzez kodowanie cech binarnych.

In [692]:
import ast

def przeksztalc_na_liste(val):
    if pd.isna(val):
        return []
    if isinstance(val, list):
        return val
    try:
        return ast.literal_eval(val)
    except:
        return []

train_df['Wyposazenie'] = train_df['Wyposazenie'].apply(przeksztalc_na_liste)

### üß© Wyodrƒôbnienie unikalnych element√≥w wyposa≈ºenia
- Za pomocƒÖ funkcji chain.from_iterable() z biblioteki itertools sp≈Çaszczono wszystkie listy znajdujƒÖce siƒô w kolumnie Wyposazenie, a nastƒôpnie przekszta≈Çcono je w zbi√≥r unikalnych element√≥w. Pozwoli≈Ço to okre≈õliƒá, ile r√≥≈ºnych cech wyposa≈ºenia wystƒôpuje w zbiorze danych, co jest niezbƒôdne do dalszego binarnego zakodowania tych informacji.

In [693]:
from itertools import chain

wszystkie_wyposazenia = set(chain.from_iterable(train_df['Wyposazenie']))
print(f"üß© Liczba unikalnych cech: {len(wszystkie_wyposazenia)}")

üß© Liczba unikalnych cech: 70

### ‚úÖ Kodowanie binarne cech wyposa≈ºenia
- Dla ka≈ºdej unikalnej pozycji wyposa≈ºenia utworzono nowƒÖ kolumnƒô binarnƒÖ w formacie has_<nazwa_cechy>. Warto≈õƒá 1 oznacza obecno≈õƒá danej cechy w poje≈∫dzie, a 0 jej brak. Dziƒôki temu informacje o wyposa≈ºeniu zosta≈Çy przekszta≈Çcone do postaci numerycznej, zrozumia≈Çej dla modeli uczenia maszynowego.

In [694]:
for cecha in wszystkie_wyposazenia:
    train_df[f'has_{cecha}'] = train_df['Wyposazenie'].apply(lambda x: int(cecha in x))

### üßπ Usuniƒôcie oryginalnej kolumny Wyposazenie
- Po zakodowaniu informacji o wyposa≈ºeniu w postaci cech binarnych, oryginalna kolumna Wyposazenie zosta≈Ça usuniƒôta. Pozwala to upro≈õciƒá zbi√≥r danych i uniknƒÖƒá duplikacji informacji, zachowujƒÖc jednocze≈õnie wszystkie istotne cechy w formacie odpowiednim dla modelu predykcyjnego.

In [695]:
train_df.drop(columns=['Wyposazenie'], inplace=True)

In [696]:
train_df.head()

,Cena,Stan,Marka_pojazdu,Model_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,Pojemnosc_cm3,Rodzaj_paliwa,Naped,...,has_Four-zone air conditioning,has_Rain sensor,has_Manual air conditioning,has_Lane assistant,has_Air curtains,has_Blind spot sensor,has_CD changer,has_AUX socket,has_ESP(stabilization of the track),has_Parking assistant
0,13900,Used,Renault,Grand Espace,2005.0,213000.0,170.0,1998.0,Gasoline,Front wheels,...,0,1,0,0,0,0,0,0,0,0
1,25900,Used,Renault,Megane,2010.0,117089.0,110.0,1598.0,Gasoline,Front wheels,...,0,1,1,0,0,0,0,0,1,0
2,35900,Used,Opel,Zafira,2015.0,115600.0,136.0,1598.0,Gasoline + CNG,Front wheels,...,0,1,0,0,0,0,0,1,1,0
3,5999,Used,Ford,Focus,2007.0,218000.0,90.0,1560.0,Diesel,Front wheels,...,0,0,1,0,0,0,0,0,0,0
4,44800,Used,Toyota,Avensis,2013.0,181500.0,147.0,1798.0,Gasoline,Front wheels,...,0,0,1,0,1,0,0,1,1,0

In [746]:
print(train_df["Stan"].unique())

['Used' 'New']

In [698]:
print(train_df["Lokalizacja_oferty"].unique())

['S≈ÅONECZNA 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie (Polska)'
 'ul. Wiosenna 8 - 41-407 Imielin, Centrum (Polska)'
 'Sian√≥w, koszali≈Ñski, Zachodniopomorskie' ...
 'Guty, legionowski, Mazowieckie' 'G√≥ra, jaroci≈Ñski, Wielkopolskie'
 'Mod≈Ça Kr√≥lewska, gm. Stare Miasto, koni≈Ñski, Wielkopolskie']

### üó∫Ô∏è Usuniƒôcie kolumny Lokalizacja_oferty
- Kolumna Lokalizacja_oferty zosta≈Ça usuniƒôta, poniewa≈º nie wnosi≈Ça istotnej warto≈õci predykcyjnej lub zawiera≈Ça dane trudne do jednoznacznego przetworzenia. Jej usuniƒôcie upraszcza zbi√≥r danych i pozwala skupiƒá siƒô na cechach majƒÖcych bezpo≈õredni wp≈Çyw na cenƒô pojazdu.

In [699]:
train_df.drop(columns=['Lokalizacja_oferty'], inplace=True)

In [700]:
print(train_df.isnull().sum())

Cena                                    0
Stan                                   97
Marka_pojazdu                           4
Model_pojazdu                          27
Rok_produkcji                           2
                                       ..
has_Blind spot sensor                   0
has_CD changer                          0
has_AUX socket                          0
has_ESP(stabilization of the track)     0
has_Parking assistant                   0
Length: 85, dtype: int64

### üß™ Tworzenie mapowania pojemno≈õci silnika
- Na podstawie kombinacji Marka_pojazdu, Model_pojazdu, Rodzaj_paliwa oraz Skrzynia_biegow utworzono s≈Çownik mapujƒÖcy te cechy na medianƒô warto≈õci Pojemnosc_cm3. Mapowanie to umo≈ºliwia p√≥≈∫niejsze uzupe≈Çnienie brakujƒÖcych danych o pojemno≈õci silnika w spos√≥b oparty na logicznych zale≈ºno≈õciach i danych technicznych pojazd√≥w.

In [701]:
pojemnosc_lookup = (
    train_df[train_df['Pojemnosc_cm3'].notna()]
    .groupby(['Marka_pojazdu', 'Model_pojazdu', 'Rodzaj_paliwa', 'Skrzynia_biegow'])['Pojemnosc_cm3']
    .median()
    .to_dict()
)

### üß™ Uzupe≈Çnianie brak√≥w w kolumnie Pojemnosc_cm3
 - BrakujƒÖce warto≈õci w kolumnie Pojemnosc_cm3 zosta≈Çy uzupe≈Çnione na podstawie mediany pojemno≈õci silnika dla danej kombinacji Marka_pojazdu, Model_pojazdu, Rodzaj_paliwa i Skrzynia_biegow. Wykorzystano wcze≈õniej przygotowany s≈Çownik, co pozwala realistycznie odtworzyƒá brakujƒÖce dane techniczne i zwiƒôkszyƒá sp√≥jno≈õƒá zbioru.

In [702]:
train_df['Pojemnosc_cm3'] = train_df.apply(
    lambda row: pojemnosc_lookup.get(
        (row['Marka_pojazdu'], row['Model_pojazdu'], row['Rodzaj_paliwa'], row['Skrzynia_biegow']),
        row['Pojemnosc_cm3']
    ) if pd.isna(row['Pojemnosc_cm3']) else row['Pojemnosc_cm3'],
    axis=1
)

In [703]:
print(train_df['Pojemnosc_cm3'].isna().sum())

807

In [704]:
print(train_df.isnull().sum())

Cena                                    0
Stan                                   97
Marka_pojazdu                           4
Model_pojazdu                          27
Rok_produkcji                           2
                                       ..
has_Blind spot sensor                   0
has_CD changer                          0
has_AUX socket                          0
has_ESP(stabilization of the track)     0
has_Parking assistant                   0
Length: 85, dtype: int64

### üßπ Usuniƒôcie rekord√≥w z brakujƒÖcymi danymi
- Wszystkie wiersze zawierajƒÖce brakujƒÖce warto≈õci (NaN) zosta≈Çy usuniƒôte ze zbioru danych. Ten krok zapewnia pe≈ÇnƒÖ kompletno≈õƒá danych przed trenowaniem modelu, co zapobiega b≈Çƒôdom w trakcie uczenia i zwiƒôksza stabilno≈õƒá dzia≈Çania algorytm√≥w predykcyjnych.

In [705]:
train_df.dropna(inplace=True)

In [706]:
print(train_df.isna().sum())         
print(train_df.shape[0])

Cena                                   0
Stan                                   0
Marka_pojazdu                          0
Model_pojazdu                          0
Rok_produkcji                          0
                                      ..
has_Blind spot sensor                  0
has_CD changer                         0
has_AUX socket                         0
has_ESP(stabilization of the track)    0
has_Parking assistant                  0
Length: 85, dtype: int64
133561

### üì¶ Import narzƒôdzi do modelowania i podzia≈Çu danych
- Zaimportowano klasƒô TabularPredictor z biblioteki AutoGluon do trenowania modeli regresyjnych oraz funkcjƒô train_test_split z biblioteki scikit-learn do podzia≈Çu zbioru danych na czƒô≈õƒá treningowƒÖ i testowƒÖ. Narzƒôdzia te sƒÖ wykorzystywane w procesie budowy, oceny i optymalizacji modelu predykcyjnego.

In [707]:
from autogluon.tabular import TabularPredictor
from sklearn.model_selection import train_test_split

### üéØ Okre≈õlenie zmiennej docelowej i podzia≈Ç danych
- Zmienna Cena zosta≈Ça oznaczona jako zmienna docelowa, kt√≥rƒÖ model ma przewidywaƒá. Nastƒôpnie ca≈Çy zbi√≥r danych zosta≈Ç podzielony na czƒô≈õƒá treningowƒÖ (80%) i testowƒÖ (20%) przy u≈ºyciu funkcji train_test_split, z ustalonym parametrem random_state=42 w celu zapewnienia powtarzalno≈õci wynik√≥w. Taki podzia≈Ç umo≈ºliwia niezale≈ºnƒÖ ocenƒô jako≈õci wytrenowanego modelu.

In [708]:
target = 'Cena'  # zmienna, kt√≥rƒÖ chcemy przewidywaƒá

# Podzia≈Ç na zbi√≥r treningowy i testowy
train_data, test_data = train_test_split(train_df, test_size=0.2, random_state=42)

### ü§ñ Trenowanie modelu AutoGluon z wykorzystaniem r√≥≈ºnych algorytm√≥w drzewiastych
U≈ºyto klasy TabularPredictor z biblioteki AutoGluon do wytrenowania modelu regresyjnego przewidujƒÖcego warto≈õƒá zmiennej Cena. W treningu wykorzystano kilka modeli bazujƒÖcych na drzewach decyzyjnych: LightGBM, Random Forest, Extra Trees i XGBoost. Ustawiono metrykƒô oceny modelu na wsp√≥≈Çczynnik determinacji r2.

Dodatkowo w≈ÇƒÖczono:

- num_bag_folds=10 ‚Äì 10-krotnƒÖ walidacjƒô krzy≈ºowƒÖ w celu zwiƒôkszenia og√≥lno≈õci modelu,

- num_stack_levels=3 ‚Äì g≈Çƒôboki stacking modeli bazowych dla poprawy dok≈Çadno≈õci,

- presets='best_quality' ‚Äì zestaw ustawie≈Ñ skoncentrowany na jak najlepszych wynikach, niezale≈ºnie od czasu trenowania.

Dziƒôki temu model maksymalnie wykorzystuje dostƒôpne dane i techniki ensemble learningu.

In [709]:
from autogluon.tabular import TabularPredictor

predictor = TabularPredictor(label='Cena', eval_metric='r2').fit(
    train_data=train_df,
    hyperparameters={
        'GBM': {'extra_trees': False},  # LightGBM i LightGBMXT
        'RF': {},                       # Random Forest
        'XT': {},                       # Extra Trees                      # CatBoost
        'XGB': {},                      # XGBoost
    },
    num_bag_folds=10,       
    num_stack_levels=3,    
    presets='best_quality' 
)

No path specified. Models will be saved in: "AutogluonModels\ag-20250325_161158"
Verbosity: 2 (Standard Logging)
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.4
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
CPU Count:          8
Memory Avail:       8.88 GB / 23.97 GB (37.0%)
Disk Space Avail:   5.99 GB / 465.23 GB (1.3%)
	WARNING: Available disk space is low and there is a risk that AutoGluon will run out of disk during fit, causing an exception.
	We recommend a minimum available disk space of 10 GB, and large datasets may require more.
===================================================
Presets specified: ['best_quality']
Setting dynamic_stacking from 'auto' to True. Reason: Enable dynamic_stacking when use_bag_holdout is disabled. (use_bag_holdout=False)
Stack configuration (auto_stack=True): num_stack_levels=3, num_bag_folds=10, num_bag_sets=1
DyStack is enabled (dynamic_stacking=True). AutoGluon will try to determine whether the input data is affected by stacked overfitting and enable or disable stacking as a consequence.
	This is used to identify the optimal `num_stack_levels` value. Copies of AutoGluon will be fit on subsets of the data. Then holdout validation data is used to detect stacked overfitting.
	Running DyStack for up to 900s of the 3600s of remaining time (25%).
		Context path: "C:\Users\Kamil\PycharmProjects\pythonProject16\AutogluonModels\ag-20250325_161158\ds_sub_fit\sub_fit_ho"
Leaderboard on holdout data (DyStack):
                  model  score_holdout  score_val eval_metric  pred_time_test  pred_time_val    fit_time  pred_time_test_marginal  pred_time_val_marginal  fit_time_marginal  stack_level  can_infer  fit_order
0   WeightedEnsemble_L5       0.928362   0.864420          r2       12.771553      40.986961  749.683477                 0.019999                0.002999           0.633001            5       True         19
1       LightGBM_BAG_L1       0.927410   0.859339          r2        2.992002      11.423060   61.442547                 2.992002               11.423060          61.442547            1       True          1
2   WeightedEnsemble_L3       0.927286   0.862614          r2        6.971038      30.467067  519.461811                 0.018000                0.001998           0.179001            3       True         10
3   WeightedEnsemble_L2       0.926786   0.862117          r2        4.182999      20.138029  263.578658                 0.003999                0.001997           0.151998            2       True          5
4       LightGBM_BAG_L4       0.926011   0.856373          r2       12.751554      40.983962  749.050476                 1.076002                1.422983          14.938027            4       True         16
5     ExtraTrees_BAG_L2       0.925977   0.851736          r2        5.613518      22.358999  320.014086                 0.202517                1.385964          43.082428            2       True          8
6       LightGBM_BAG_L2       0.923250   0.859671          r2        5.970001      22.511035  292.185658                 0.559000                1.538000          15.254000            2       True          6
7     ExtraTrees_BAG_L3       0.921214   0.839429          r2        8.616040      32.785040  571.454102                 0.205000                1.373997          42.325262            3       True         13
8   RandomForest_BAG_L2       0.920816   0.831590          r2        6.191521      27.541106  460.946382                 0.780520                6.568070         184.014724            2       True          7
9   WeightedEnsemble_L4       0.913853   0.855956          r2       10.164549      38.644983  722.118459                 0.017998                0.001997           0.158007            4       True         15
10      LightGBM_BAG_L3       0.904401   0.854183          r2        9.303039      32.414987  541.414868                 0.891999                1.003944          12.286028            3       True         11
11  RandomForest_BAG_L3       0.901240   0.834282          r2        9.049552      36.265044  667.349162                 0.638512                4.854001         138.220322            3       True         12
12    ExtraTrees_BAG_L1       0.889443   0.820525          r2        0.287998       2.084000   56.613934                 0.287998                2.084000          56.613934            1       True          3
13  RandomForest_BAG_L4       0.885490   0.835944          r2       11.976551      41.529978  792.723020                 0.300998                1.968999          58.610571            4       True         17
14  RandomForest_BAG_L1       0.872533   0.825126          r2        0.899000       6.628972  145.370179                 0.899000                6.628972         145.370179            1       True          2
15       XGBoost_BAG_L4       0.862830   0.781227          r2       13.169555      40.576949  751.686451                 1.494002                1.015970          17.574002            4       True         18
16       XGBoost_BAG_L1       0.681361   0.615300          r2        1.232001       0.837003   13.504998                 1.232001                0.837003          13.504998            1       True          4
17       XGBoost_BAG_L3       0.626467   0.543164          r2        9.940041      32.329037  541.280837                 1.529001                0.917994          12.151997            3       True         14
18       XGBoost_BAG_L2       0.309473   0.265287          r2        6.869003      21.919009  286.777688                 1.458002                0.945974           9.846030            2       True          9
	3	 = Optimal   num_stack_levels (Stacked Overfitting Occurred: False)
	922s	 = DyStack   runtime |	2678s	 = Remaining runtime
Starting main fit with num_stack_levels=3.
	For future fit calls on this dataset, you can skip DyStack to save time: `predictor.fit(..., dynamic_stacking=False, num_stack_levels=3)`
Beginning AutoGluon training ... Time limit = 2678s
AutoGluon will save models to "C:\Users\Kamil\PycharmProjects\pythonProject16\AutogluonModels\ag-20250325_161158"
Train Data Rows:    133561
Train Data Columns: 84
Label Column:       Cena
Problem Type:       regression
Preprocessing data ...
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    10932.43 MB
	Train Data (Original)  Memory Usage: 142.94 MB (1.3% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 73 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', [])  :  5 | ['Rok_produkcji', 'Przebieg_km', 'Moc_KM', 'Pojemnosc_cm3', 'Liczba_drzwi']
		('int', [])    : 71 | ['Pierwszy_wlasciciel', 'has_Drivers airbag', 'has_Electrochromic rear view mirror', 'has_Heated rear seats', 'has_LED lights', ...]
		('object', []) :  8 | ['Stan', 'Marka_pojazdu', 'Model_pojazdu', 'Rodzaj_paliwa', 'Naped', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  :  6 | ['Marka_pojazdu', 'Model_pojazdu', 'Rodzaj_paliwa', 'Naped', 'Typ_nadwozia', ...]
		('float', [])     :  5 | ['Rok_produkcji', 'Przebieg_km', 'Moc_KM', 'Pojemnosc_cm3', 'Liczba_drzwi']
		('int', ['bool']) : 73 | ['Stan', 'Skrzynia_biegow', 'Pierwszy_wlasciciel', 'has_Drivers airbag', 'has_Electrochromic rear view mirror', ...]
	1.1s = Fit runtime
	84 features in original data used to generate 84 features in processed data.
	Train Data (Processed) Memory Usage: 15.29 MB (0.1% of available memory)
Data preprocessing and feature engineering runtime = 1.3s ...
AutoGluon will gauge predictive performance using evaluation metric: 'r2'
	To change this, specify the eval_metric parameter of Predictor()
User-specified model hyperparameters to be fit:
{
	'GBM': [{'extra_trees': False}],
	'RF': [{}],
	'XT': [{}],
	'XGB': [{}],
}
AutoGluon will fit 4 stack levels (L1 to L4) ...
Fitting 4 L1 models, fit_strategy="sequential" ...
Fitting model: LightGBM_BAG_L1 ... Training model for up to 891.87s of the 2676.29s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.06%)
	0.8696	 = Validation score   (r2)
	26.66s	 = Training   runtime
	6.02s	 = Validation runtime
Fitting model: RandomForest_BAG_L1 ... Training model for up to 859.86s of the 2644.27s of remaining time.
	0.8389	 = Validation score   (r2)
	162.96s	 = Training   runtime
	9.63s	 = Validation runtime
Fitting model: ExtraTrees_BAG_L1 ... Training model for up to 686.66s of the 2471.07s of remaining time.
	0.8401	 = Validation score   (r2)
	196.58s	 = Training   runtime
	9.5s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ... Training model for up to 479.94s of the 2264.36s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.62%)
	0.8533	 = Validation score   (r2)
	303.47s	 = Training   runtime
	5.9s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ... Training model for up to 360.00s of the 1955.30s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L1': 0.667, 'XGBoost_BAG_L1': 0.167, 'ExtraTrees_BAG_L1': 0.111, 'RandomForest_BAG_L1': 0.056}
	0.8722	 = Validation score   (r2)
	0.41s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 4 L2 models, fit_strategy="sequential" ...
Fitting model: LightGBM_BAG_L2 ... Training model for up to 868.61s of the 1954.86s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.22%)
	0.8694	 = Validation score   (r2)
	14.62s	 = Training   runtime
	1.37s	 = Validation runtime
Fitting model: RandomForest_BAG_L2 ... Training model for up to 842.94s of the 1929.18s of remaining time.
	0.8541	 = Validation score   (r2)
	224.17s	 = Training   runtime
	10.36s	 = Validation runtime
Fitting model: ExtraTrees_BAG_L2 ... Training model for up to 607.80s of the 1694.05s of remaining time.
	0.8657	 = Validation score   (r2)
	216.64s	 = Training   runtime
	9.55s	 = Validation runtime
Fitting model: XGBoost_BAG_L2 ... Training model for up to 380.95s of the 1467.20s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.75%)
	0.859	 = Validation score   (r2)
	186.98s	 = Training   runtime
	2.56s	 = Validation runtime
Fitting model: WeightedEnsemble_L3 ... Training model for up to 360.00s of the 1275.06s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L2': 0.474, 'ExtraTrees_BAG_L2': 0.316, 'XGBoost_BAG_L2': 0.158, 'RandomForest_BAG_L2': 0.053}
	0.8722	 = Validation score   (r2)
	0.49s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 4 L3 models, fit_strategy="sequential" ...
Fitting model: LightGBM_BAG_L3 ... Training model for up to 849.49s of the 1274.54s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.19%)
	0.8657	 = Validation score   (r2)
	61.15s	 = Training   runtime
	5.17s	 = Validation runtime
Fitting model: RandomForest_BAG_L3 ... Training model for up to 778.85s of the 1203.90s of remaining time.
	0.8352	 = Validation score   (r2)
	251.49s	 = Training   runtime
	10.87s	 = Validation runtime
Fitting model: ExtraTrees_BAG_L3 ... Training model for up to 515.89s of the 940.94s of remaining time.
	0.8648	 = Validation score   (r2)
	219.47s	 = Training   runtime
	9.52s	 = Validation runtime
Fitting model: XGBoost_BAG_L3 ... Training model for up to 286.29s of the 711.35s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.80%)
	0.8584	 = Validation score   (r2)
	114.65s	 = Training   runtime
	1.47s	 = Validation runtime
Fitting model: WeightedEnsemble_L4 ... Training model for up to 360.00s of the 591.58s of remaining time.
	Ensemble Weights: {'ExtraTrees_BAG_L3': 0.438, 'LightGBM_BAG_L3': 0.312, 'XGBoost_BAG_L3': 0.25}
	0.8708	 = Validation score   (r2)
	0.5s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 4 L4 models, fit_strategy="sequential" ...
Fitting model: LightGBM_BAG_L4 ... Training model for up to 591.06s of the 591.05s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.19%)
	0.866	 = Validation score   (r2)
	22.59s	 = Training   runtime
	2.31s	 = Validation runtime
Fitting model: RandomForest_BAG_L4 ... Training model for up to 563.07s of the 563.06s of remaining time.
	0.8512	 = Validation score   (r2)
	250.54s	 = Training   runtime
	10.58s	 = Validation runtime
Fitting model: ExtraTrees_BAG_L4 ... Training model for up to 301.32s of the 301.30s of remaining time.
	0.8645	 = Validation score   (r2)
	219.85s	 = Training   runtime
	10.01s	 = Validation runtime
Fitting model: XGBoost_BAG_L4 ... Training model for up to 70.73s of the 70.72s of remaining time.
	Fitting 10 child models (S1F1 - S1F10) | Fitting with ParallelLocalFoldFittingStrategy (8 workers, per: cpus=1, gpus=0, memory=1.79%)
	0.854	 = Validation score   (r2)
	59.89s	 = Training   runtime
	1.32s	 = Validation runtime
Fitting model: WeightedEnsemble_L5 ... Training model for up to 360.00s of the 5.83s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L1': 0.364, 'LightGBM_BAG_L2': 0.182, 'XGBoost_BAG_L1': 0.091, 'ExtraTrees_BAG_L3': 0.091, 'XGBoost_BAG_L3': 0.091, 'LightGBM_BAG_L4': 0.091, 'ExtraTrees_BAG_L1': 0.045, 'ExtraTrees_BAG_L4': 0.045}
	0.8741	 = Validation score   (r2)
	1.61s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 2673.42s ... Best model: WeightedEnsemble_L5 | Estimated inference throughput: 420.9 rows/s (13357 batch size)
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("C:\Users\Kamil\PycharmProjects\pythonProject16\AutogluonModels\ag-20250325_161158")

### üèÜ Wyb√≥r najlepszego modelu
- Zmienna best_model przechowuje nazwƒô najlepszego modelu wybranego automatycznie przez AutoGluon na podstawie ustawionej metryki (r2). Wy≈õwietlenie tej informacji pozwala zidentyfikowaƒá, kt√≥ry algorytm osiƒÖgnƒÖ≈Ç najwy≈ºszƒÖ skuteczno≈õƒá w predykcji ceny pojazdu.

In [711]:
best_model = predictor.model_best
print(f"‚úÖ Najlepszy model: {best_model}")

‚úÖ Najlepszy model: WeightedEnsemble_L5

### üìä Odczyt wyniku najlepszego modelu
- Za pomocƒÖ predictor.leaderboard() pobrano tabelƒô zawierajƒÖcƒÖ szczeg√≥≈Çowe wyniki wszystkich wytrenowanych modeli. Nastƒôpnie odczytano warto≈õƒá metryki r2 dla najlepszego modelu (best_model) i wy≈õwietlono jƒÖ w formacie z czterema miejscami po przecinku. Pozwala to oceniƒá, jak dobrze model dopasowa≈Ç siƒô do danych treningowych.

In [712]:
leaderboard = predictor.leaderboard(silent=True)
best_score = leaderboard.loc[leaderboard['model'] == best_model, 'score_val'].values[0]

print(f"üéØ R¬≤ najlepszego modelu: {best_score:.4f}")

üéØ R¬≤ najlepszego modelu: 0.8741

In [713]:
test_file = [f for f in files if 'test' in f][0]  # Znajduje plik z 'train' w nazwie
test_df = pd.read_csv(f"./data/{test_file}")

In [714]:
test_df.head()

,ID,Waluta,Stan,Marka_pojazdu,Model_pojazdu,Wersja_pojazdu,Generacja_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,...,Skrzynia_biegow,Typ_nadwozia,Liczba_drzwi,Kolor,Kraj_pochodzenia,Pierwszy_wlasciciel,Data_pierwszej_rejestracji,Data_publikacji_oferty,Lokalizacja_oferty,Wyposazenie
0,1,PLN,New,Mercedes-Benz,GLC,200 d 4-Matic,NaN,2021,1.0,163.0,...,Automatic,SUV,5.0,black,Poland,Yes,NaN,30/04/2021,"W≈Çadys≈Çawa IV 43 - 81-395 Gdynia, ≈ör√≥dmie≈õcie ...","['ABS', 'Electric front windows', 'Drivers air..."
1,2,PLN,Used,Ford,Mondeo,2.0,Mk4 (2007-2014),2008,202585.0,145.0,...,Manual,station_wagon,5.0,other,NaN,NaN,NaN,02/05/2021,"S≈Çoneczna 1 - 99-300 Kutno, kutnowski, ≈Å√≥dzkie...","['ABS', 'Electric front windows', 'Drivers air..."
2,3,PLN,Used,BMW,Seria 5,NaN,E60/E61 (2003-2010),2005,373000.0,218.0,...,Automatic,sedan,5.0,gray,NaN,NaN,NaN,02/05/2021,"W≈Çoc≈Çawek, Kujawsko-pomorskie","['ABS', 'Electric front windows', 'Drivers air..."
3,4,PLN,New,Seat,Leon,1.5 TSI FR,IV (2020 - ),2021,10.0,130.0,...,Manual,compact,5.0,white,NaN,NaN,NaN,03/05/2021,"Lubelska 50D - 35-233 Rzesz√≥w, Podkarpackie (P...","['ABS', 'Electrically adjustable mirrors', 'Pa..."
4,5,PLN,Used,Audi,A6,3.0 TDI Quattro S tronic,C7 (2011-2018),2014,150000.0,245.0,...,Automatic,station_wagon,5.0,gray,Germany,NaN,NaN,27/04/2021,"PADEREWSKIEGO 124 - 42-400 Zawiercie, Warty (P...","['ABS', 'Electric front windows', 'Drivers air..."

In [715]:
print(test_df.isnull().sum())

ID                                0
Waluta                            0
Stan                              0
Marka_pojazdu                     0
Model_pojazdu                     0
Wersja_pojazdu                24513
Generacja_pojazdu             21173
Rok_produkcji                     0
Przebieg_km                     330
Moc_KM                          229
Pojemnosc_cm3                   686
Rodzaj_paliwa                     0
Emisja_CO2                    39961
Naped                          5132
Skrzynia_biegow                 163
Typ_nadwozia                      0
Liczba_drzwi                    538
Kolor                             0
Kraj_pochodzenia              31482
Pierwszy_wlasciciel           49746
Data_pierwszej_rejestracji    42626
Data_publikacji_oferty            0
Lokalizacja_oferty                0
Wyposazenie                       0
dtype: int64

In [716]:
test_df.drop(columns=['ID','Data_pierwszej_rejestracji','Emisja_CO2','Wersja_pojazdu','Generacja_pojazdu','Kraj_pochodzenia','Data_publikacji_oferty'], inplace=True)

In [717]:
test_df['Pierwszy_wlasciciel'] = test_df['Pierwszy_wlasciciel'].map({'Yes': 1}).fillna(0).astype(int)

In [718]:
missing_naped_df = test_df[test_df['Naped'].isna()]


print(missing_naped_df[['Marka_pojazdu', 'Model_pojazdu']].drop_duplicates())

      Marka_pojazdu Model_pojazdu
5              Ford         Focus
20        Chevrolet       Captiva
29       Volkswagen   Transporter
43           Suzuki  Grand Vitara
54             Fiat        Ulysse
...             ...           ...
71401         Mazda           121
71522          Opel        Ascona
71588          Jeep        Willys
71833        Lancia         Delta
72660         Aixam      Roadline

[670 rows x 2 columns]

In [719]:
test_df['Naped'] = test_df['Naped'].fillna(
    test_df.groupby('Marka_pojazdu')['Naped'].transform(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
)

In [720]:
def przypisz_przebieg(row, df):
    if pd.notna(row['Przebieg_km']):
        return row['Przebieg_km']

    
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Rok_produkcji'] == row['Rok_produkcji']) &
        (df['Przebieg_km'].notna())
    ]

    if podobne.empty:
        return np.nan

    
    return podobne['Przebieg_km'].median()

In [721]:
test_df['Przebieg_km'] = test_df.apply(lambda row: przypisz_przebieg(row, test_df), axis=1)

In [722]:
def przypisz_moc(row, df):
    if pd.notna(row['Moc_KM']):
        return row['Moc_KM']

   
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Pojemnosc_cm3'] == row['Pojemnosc_cm3']) &
        (df['Moc_KM'].notna())
    ]

    if podobne.empty:
        return np.nan

    
    return podobne['Moc_KM'].median()

In [723]:
test_df['Moc_KM'] = test_df.apply(lambda row: przypisz_moc(row, test_df), axis=1)

In [724]:
def przypisz_pojemnosc(row, df):
    if pd.notna(row['Pojemnosc_cm3']):
        return row['Pojemnosc_cm3']

   
    podobne = df[
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Moc_KM'] == row['Moc_KM']) &
        (df['Pojemnosc_cm3'].notna())
    ]

    if podobne.empty:
        return np.nan

    
    return podobne['Pojemnosc_cm3'].median()

In [725]:
test_df['Pojemnosc_cm3'] = test_df.apply(lambda row: przypisz_pojemnosc(row, test_df), axis=1)

In [726]:
import numpy as np

def przypisz_drzwi(row, df):
    if pd.notna(row['Liczba_drzwi']):
        return row['Liczba_drzwi']

    podobne = df[
        (df['Typ_nadwozia'] == row['Typ_nadwozia']) &
        (df['Model_pojazdu'] == row['Model_pojazdu']) &
        (df['Liczba_drzwi'].notna())
    ]

    if podobne.empty:
        return np.nan

    return podobne['Liczba_drzwi'].mode().iloc[0]  # najczƒôstsza warto≈õƒá

In [727]:
test_df['Liczba_drzwi'] = test_df.apply(lambda row: przypisz_drzwi(row, test_df), axis=1)

In [728]:
skrzynia_lookup = (
    test_df[test_df['Skrzynia_biegow'].notna()]
    .groupby(['Marka_pojazdu', 'Model_pojazdu', 'Pojemnosc_cm3'])['Skrzynia_biegow']
    .agg(lambda x: x.mode().iloc[0])
    .to_dict()
)

In [729]:
print(test_df.isnull().sum())

Waluta                   0
Stan                     0
Marka_pojazdu            0
Model_pojazdu            0
Rok_produkcji            0
Przebieg_km              1
Moc_KM                 133
Pojemnosc_cm3          533
Rodzaj_paliwa            0
Naped                   13
Skrzynia_biegow        163
Typ_nadwozia             0
Liczba_drzwi            10
Kolor                    0
Pierwszy_wlasciciel      0
Lokalizacja_oferty       0
Wyposazenie              0
dtype: int64

In [730]:
import ast

def przeksztalc_na_liste(val):
    if pd.isna(val):
        return []
    if isinstance(val, list):
        return val
    try:
        return ast.literal_eval(val)
    except:
        return []

test_df['Wyposazenie'] = test_df['Wyposazenie'].apply(przeksztalc_na_liste)

In [731]:
from itertools import chain

wszystkie_wyposazenia = set(chain.from_iterable(test_df['Wyposazenie']))
print(f" Liczba unikalnych cech: {len(wszystkie_wyposazenia)}")

 Liczba unikalnych cech: 70

In [732]:
for cecha in wszystkie_wyposazenia:
    test_df[f'has_{cecha}'] = test_df['Wyposazenie'].apply(lambda x: int(cecha in x))

In [733]:
test_df.drop(columns=['Wyposazenie'], inplace=True)

In [734]:
test_df.head()

,Waluta,Stan,Marka_pojazdu,Model_pojazdu,Rok_produkcji,Przebieg_km,Moc_KM,Pojemnosc_cm3,Rodzaj_paliwa,Naped,...,has_Four-zone air conditioning,has_Rain sensor,has_Manual air conditioning,has_Lane assistant,has_Air curtains,has_Blind spot sensor,has_CD changer,has_AUX socket,has_ESP(stabilization of the track),has_Parking assistant
0,PLN,New,Mercedes-Benz,GLC,2021,1.0,163.0,1950.0,Diesel,4x4 (permanent),...,0,1,0,0,1,0,0,1,1,1
1,PLN,Used,Ford,Mondeo,2008,202585.0,145.0,1999.0,Gasoline,Front wheels,...,0,0,0,0,1,0,0,0,1,0
2,PLN,Used,BMW,Seria 5,2005,373000.0,218.0,2993.0,Diesel,Rear wheels,...,0,0,0,0,1,0,0,0,1,0
3,PLN,New,Seat,Leon,2021,10.0,130.0,1498.0,Gasoline,Front wheels,...,0,1,0,0,0,0,0,1,1,1
4,PLN,Used,Audi,A6,2014,150000.0,245.0,2967.0,Diesel,4x4 (permanent),...,1,1,0,1,1,1,1,1,1,0

### üîÆ Generowanie predykcji na zbiorze testowym
- Za pomocƒÖ wytrenowanego obiektu predictor wygenerowano predykcje warto≈õci zmiennej Cena dla danych testowych (test_df). Wynik zosta≈Ç zapisany w zmiennej predictions i stanowi przewidywane ceny pojazd√≥w na podstawie cech wej≈õciowych.

In [735]:
predictions = predictor.predict(test_df)

### üì§ Generowanie i zapis pliku submission
- Na podstawie predykcji modelu utworzono ramkƒô danych submission, zawierajƒÖcƒÖ dwie kolumny: ID (ciƒÖg numer√≥w od 1 do liczby wierszy w zbiorze testowym) oraz Cena (przewidywana warto≈õƒá). Nastƒôpnie dane zosta≈Çy zapisane do pliku submission.csv w formacie zgodnym z wymaganiami konkursu lub systemu oceny, bez indeks√≥w w pliku wynikowym.

In [736]:
predictions = predictor.predict(test_df)


submission = pd.DataFrame({
    'ID': range(1, len(test_df) + 1),
    'Cena': predictions
})


submission.to_csv('submission.csv', index=False)

In [738]:
print(submission.head(10))

   ID           Cena
0   1  198110.437500
1   2   17597.423828
2   3   20746.951172
3   4   98650.296875
4   5   88726.289062
5   6   10969.570312
6   7    7707.739746
7   8   17145.089844
8   9   20566.845703
9  10  487406.312500

### üßÆ ZaokrƒÖglenie i zapis wynik√≥w predykcji
- Warto≈õci w kolumnie Cena zosta≈Çy zaokrƒÖglone do najbli≈ºszej liczby ca≈Çkowitej i przekonwertowane na typ ca≈Çkowity (int). Nastƒôpnie zapisano je do pliku wyniki_predykcji_zaokraglone.csv, tworzƒÖc gotowy do u≈ºycia plik wynikowy z realistycznie zaokrƒÖglonymi cenami pojazd√≥w.

In [739]:

submission['Cena'] = submission['Cena'].round(0).astype(int)


submission.to_csv('wyniki_predykcji_zaokraglone.csv', index=False)

### üö® Sprawdzenie wystƒôpowania ujemnych warto≈õci w predykcjach
- Instrukcja sprawdza, czy w kolumnie Cena znajdujƒÖ siƒô jakiekolwiek warto≈õci mniejsze ni≈º 0. Wynik typu logicznego (True lub False) informuje, czy model wygenerowa≈Ç nieprawid≈Çowe, ujemne ceny, kt√≥re nale≈ºy ewentualnie skorygowaƒá przed dalszym wykorzystaniem wynik√≥w.

In [740]:
print((submission['Cena'] < 0).any())

False

### üí± Przeliczenie przewidywanych cen z euro na z≈Çot√≥wki
- Dla obserwacji, w kt√≥rych waluta w zbiorze testowym to euro (EUR), warto≈õci w kolumnie Cena zosta≈Çy przeliczone na z≈Çot√≥wki poprzez podzielenie przez kurs wymiany 1 EUR = 4.5654 PLN. Umo≈ºliwia to uzyskanie sp√≥jnych wynik√≥w predykcji w jednej walucie, zgodnych z formatem wymaganym w dalszej analizie lub ocenie.

In [744]:

kurs_euro = 4.5654
submission['Cena'] = submission['Cena'].astype(float)
submission.loc[test_df['Waluta'] == 'EUR', 'Cena'] /= kurs_euro

### ‚úÖ Finalne zaokrƒÖglenie i zapis predykcji
- Warto≈õci w kolumnie Cena zosta≈Çy ponownie zaokrƒÖglone do pe≈Çnych liczb ca≈Çkowitych i zapisane do pliku wyniki_predykcji_final2.csv. Plik ten stanowi ostatecznƒÖ wersjƒô wynik√≥w predykcji, gotowƒÖ do przes≈Çania lub wykorzystania w dalszej analizie.

In [745]:
submission['Cena'] = submission['Cena'].round(0).astype(int)
submission.to_csv('wyniki_predykcji_final.csv', index=False)